* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$body-bg: #ddd;
$text-color: #333;
$sans-font-family: 'Source Sans Pro', sans-serif;
body {
    background: $body-bg;
    font-size: 10pt;
    font-family: $sans-font-family;
    overflow: hidden;
    line-height: 1.4;
    color: $text-color;
}

h1, h2, h3 {
    font-family: 'Cookie', cursive;
    font-weight: normal;
    line-height: 1;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text-color;
    border-bottom: 1pt $text-color solid;
    transition-duration: 0.25s;

    &:hover {
        $hover-color: lighten($text-color, 20);
        color: $hover-color;
        border-color: rgba(0, 0, 0, 0);
    }
}

#terms {
    display: none;
}

$bg-text-color: darken($body-bg, 5);
$bg-text-angle: -5deg;
$bg-text-expand: -5em;
#bg {
    z-index: 0;
    transform: rotate($bg-text-angle);
    position: absolute;
    top: $bg-text-expand;
    left: $bg-text-expand;
    right: $bg-text-expand;
    bottom: $bg-text-expand;
    overflow: hidden;

    p.text {
        font-weight: bold;
        font-size: 500%;
        text-transform: uppercase;
        color: $bg-text-color;
        line-height: 1.2;
        white-space: nowrap;
    }
}

$main-margin: 4em;
#main {
    background: white;
    position: absolute;
    top: $main-margin;
    left: $main-margin;
    right: $main-margin;
    bottom: $main-margin;
    padding: $main-margin;
    box-shadow: 0 $main-margin/3 $main-margin $main-margin/5 rgba(0, 0, 0, 0.5);
    z-index: 100;
    min-height: 40em;

    #title {
        font-family: 'Cookie', cursive;
        font-size: 1000%;
        text-shadow: -3pt 3pt 0 $body-bg;
    }

    #subtitle {
        font-size: 250%;
        color: lighten($text-color, 50);
    }
}

.letter {
    position: relative;
    transition-duration: 1s;
    top: 0;

    &.invisible {
        top: -1em;
        opacity: 0;
    }
}

$scroller-height: 2em;
#scroller {
    text-align: center;
    font-size: 300%;
    height: $scroller-height;
    line-height: $scroller-height;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    span.insert {
        width: 7em;
        border-bottom: 1px black solid;
        display: inline-block;

        $term-animation-distance: 1em;
        span.term {
            text-align: center;
            font-family: $sans-font-family;
            display: block;
            position: relative;
            transition-duration: 0.5s;
            float: left;
            height: 0;
            width: 100%;
            top: 0;
            opacity: 1;
            margin-top: -1em;
            animation-timing-function: linear;

            &.above {
                opacity: 0;
                top: -1 * $term-animation-distance;
            }

            &.below {
                opacity: 0;
                top: $term-animation-distance;
            }
        }
    }
}

section.corner {
    position: absolute;
    padding: 2em;
    bottom: 0;

    h1 {
        font-size: 350%;
    }

    ul {
        font-size: 175%;

        i {
            margin: 0 0.5em;
            width: 1em;
            text-align: center;
            display: inline-block;
        }
    }
}

#contact {
    left: 0;
}

#links {
    right: 0;
    text-align: right;
}
