@media all and (max-width: 1024px) {
    body {
        font-size: 6pt;
    }

    #bg {
        display: none; /* the transformed text is funky on mobile browsers */
    }

    $main-margin: 2em;
    #main {
        top: $main-margin;
        left: $main-margin;
        right: $main-margin;
        bottom: $main-margin;
        padding: $main-margin;
        box-shadow: 0 $main-margin/3 $main-margin $main-margin/5 rgba(0, 0, 0, 0.5);
        min-height: 50em;
    }

    #scroller {
        span.part {
            display: block;
            margin-bottom: 1em;
        }
    }
}
